<h2>Custom Attribute Directive Practice</h2>

<div>
  <label for="color-input">Type in the highlight color : </label>
  <input
    id="color-input"
    type="text"
    [(ngModel)]="highlightColor"
    placeholder="yellow"
  />
</div>

<div id="radio-pack">
  <label for="radio-pack">Choose the font style: </label>
  <input
    type="radio"
    id="italic"
    value="italic"
    name="font-style-options"
    [(ngModel)]="highlightFontStyle"
  />
  <label for="italic">Italic</label>

  <input
    type="radio"
    id="normal"
    value="normal"
    name="font-style-options"
    checked
    [(ngModel)]="highlightFontStyle"
  />
  <label for="normal">Normal</label>
</div>

<hr />

<p>highlightColor = {{ highlightColor }}</p>
<p>highlightFontStyle = {{ highlightFontStyle }}</p>
<p>
  This is the line of text and this is the
  <span
    appHighlightMarker
    directiveColor="{{ highlightColor }}"
    directiveFontStyle="{{ highlightFontStyle }}"
  >
    highlighted
  </span>
  of the text.
</p>
