<h1>Word Scramble Game</h1>
<div>
  <label for="word-length">Max word length:</label>
  <input
    id="word-length"
    type="text"
    (input)="onInputLength($any($event.target).value)"
  />
</div>
<div>
  <label for="check-animals">Include animals</label>
  <input id="check-animals" type="checkbox" (click)="onUseAnimals()" />
</div>
<div>
  <label for="check-vehicals">Include vehicals</label>
  <input id="check-vehicals" type="checkbox" (click)="onUseVehicals()" />
</div>
<div>
  <label for="check-foods">Include foods</label>
  <input id="check-foods" type="checkbox" (click)="onUseFoods()" />
</div>
<div>--</div>
<div>
  <button (click)="onScrambleWord()">Scramble Word</button>
</div>
<div>
  <p>The scrambled word is :</p>
  <h2>{{ scrambledWord }}</h2>
</div>
<div>
  <p>What do you think the word is ?</p>
  <div>
    <input #answer (keyup.enter)="onEnterAnswer(answer.value)" />
  </div>
  <p>Click ENTER to see result.</p>
</div>
<div>
  <h2 [style.color]="answerResult === 'Wrong' ? 'red' : 'black'">
    {{ answerResult }}
  </h2>
</div>

<div>---</div>
<div>
  <button (click)="onNewGame()">New Game</button>
</div>
