<div>
  <h2 [align]="alignRequested" [class]="classRequested" id="my-demo" style="">
    An h1 heading with all its 4 attributes: align, class , style & id managed
    by attribute binding.
  </h2>
</div>

<div>
  <label>Choose the 'align' value :</label>
  <div>
    <button type="button" (click)="onClickAlign('left')">Left</button>
    <button type="button" (click)="onClickAlign('center')">Center</button>
    <button type="button" (click)="onClickAlign('right')">Right</button>
    <button type="button" (click)="onClickAlign('justify')">Justify</button>
  </div>
  <div>Attribute align='{{ alignRequested }}'</div>
</div>

<div>----------------------</div>
<button type="button" (click)="onClickClass('my-class1')">my-class1</button>
<button type="button" (click)="onClickClass('my-class2')">my-class2</button>
<div>Attribute class='{{ classRequested }}'</div>

<div>----------------------</div>
