<div>
  <h2 [align]="alignRequested" id="my-demo" style="" class="">
    An h1 heading with all its 4 attributes: align, id, class & style managed by
    attribute binding.
  </h2>
</div>

<div>
  <label>Choose the 'align' value :</label>
  <div>
    <button type="button" (click)="onClickAlign('left')">Left</button>
    <button type="button" (click)="onClickAlign('center')">Center</button>
    <button type="button" (click)="onClickAlign('right')">Right</button>
    <button type="button" (click)="onClickAlign('justify')">Justify</button>
  </div>
</div>

<div>----------------------</div>

<div>----------------------</div>
