<div>
  <h2
    [align]="alignRequested"
    [class]="classRequested"
    id="my-demo"
    [style]="styleRequested"
  >
    An h1 heading with all its 4 attributes: align, class , style & id managed
    by attribute binding.
  </h2>
</div>

<div>
  <div class="box">
    <h3>The align attribute</h3>
    <label>Choose the 'align' value :</label>
    <div>
      <button type="button" (click)="onClickAlign('left')">Left</button>
      <button type="button" (click)="onClickAlign('center')">Center</button>
      <button type="button" (click)="onClickAlign('right')">Right</button>
      <button type="button" (click)="onClickAlign('justify')">Justify</button>
    </div>
    <div>Attribute align='{{ alignRequested }}'</div>
  </div>
</div>
<!-- <div class="spacer">----------------------</div> -->

<div class="box">
  <h3>The class attribute</h3>
  <button type="button" (click)="onClickClass('my-class1')">my-class1</button>
  <button type="button" (click)="onClickClass('my-class2')">my-class2</button>
  <div>Attribute class='{{ classRequested }}'</div>
</div>
<!-- <div class="spacer">----------------------</div> -->

<div class="box">
  <h3>The style attribute</h3>
  <label>Type in the CSS style you want</label>
  <input type="text" (input)="onStyleInput($any($event.target).value)" />
  <div>Attribute style='{{ styleRequested }}'</div>
</div>
<!-- <div class="spacer">----------------------</div> -->

<div class="box">
  <h3>The id attribute</h3>
  <div>
    <label for="jill-id"
      >I am a label for jill-id. If the id is jill-id then clicking me will
      highlight the input box</label
    >
    <input
      type="text"
      [id]="idRequested"
      placeholder="Jill input filed with id = jill-id"
    />
  </div>
  <p>
    Click the buton to toggle the value of the id from jill-id to aome other
    value
  </p>
  <button (click)="onClickIdToggle()">Toggle id value</button>
  <div>The attribute id='{{ idRequested }}'</div>
</div>
<!-- <div class="spacer">----------------------</div> -->
