<h2>Student Information Dashboard</h2>
<div>
  <label id="searchbox"> Topic to filter : </label>
  <input
    type="text"
    [(ngModel)]="topicInput"
    placeholder="gender / module / chapter"
  />
</div>
<div>
  <label id="searchbox"> Value for topic : </label>
  <input
    type="text"
    [(ngModel)]="topicValue"
    placeholder="see values in the table"
  />
</div>

<div>
  <label for="add"></label>
  <button id="add" (click)="onClickAddStudent()">Add student</button>
  <p>
    Adds a demo student for illustration of the pure/impure @Pipe() attribute
  </p>
</div>
<div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Module</th>
        <th>Chapter</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of studentInfo | myFilter: topicInput:topicValue">
        <td>{{ student.name }}</td>
        <td>{{ student.gender }}</td>
        <td>{{ student.module }}</td>
        <td>{{ student.chapter }}</td>
      </tr>
    </tbody>
  </table>
</div>
