<h2>Student Information</h2>
<div>
  <label id="searchbox"> Search filter : </label>
  <input type="text" [(ngModel)]="filterInput" />
</div>
<div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Course Module</th>
        <th>Course Topic</th>
        <th>Is Payed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of studentInfo | myFilter:'gender' : 'female'">
        <td>{{ student.name }}</td>
        <td>{{ student.gender }}</td>
        <td>{{ student.courseModule }}</td>
        <td>{{ student.courseTopic }}</td>
        <td>{{ student.isPayed }}</td>
      </tr>
    </tbody>
  </table>
</div>
