<div class="component-border">
  <h3>This is app.component</h3>

  <!-- Demo 1 : Triggering the NgOnDestroy -->
  <!--          We do this by invoking the <app-home> comp with data being sent to it.  -->
  <!--          To activate this Demo first comment-in the above 2 lines (the button and app-home)-->
  <!--          then comment-out the line below.  -->

  <app-home></app-home>

  <!-- Demo 2 : Triggering the NgOnChanges of component 1-->
  <!--          We do this by invoking the <app-home> comp with data being sent to it.  -->
  <!--          To activate this Demo first comment-in the above 2 lines (the button and app-home)-->
  <!--          then comment-out the line below.  -->

  <!-- <app-home [incomingMessage]="messageToHome"></app-home> -->
</div>
