<div class="component-border">
  <h3>This is app.component</h3>

  <!-- Demo 1 : Triggering the NgOnDestroy -->
  <!--          We do this by invoking the <app-component1> comp with data being sent to it.  -->
  <!--          To activate this Demo, comment-in the Demo-2 then comment-out this Demo-1. -->

  <app-component1></app-component1>

  <!-- Demo 2 : Triggering the NgOnChanges of component 1-->
  <!--          We do this by invoking the <app-component1> comp with data being sent to it.  -->
  <!--          To activate this Demo-2, comment-in Demo-1 then comment-out the line below.  -->
  <!-- <app-component1 [incomingMessage]="messageToHome"></app-component1> -->
</div>
