<div>
  <p> This is home component</p>
  <nav>
    <ul>
      <li>
        <a
          routerLink="/comp1"
          routerLinkActive="activeFlag"
          ariaCurrentWhenActive="page"
          >First Component</a
        >
      </li>
      <li>
        <a
          routerLink="/comp2"
          routerLinkActive="activeFlag"
          ariaCurrentWhenActive="page"
          >Second Component</a
        >
      </li>
      <li>
        <input type="text" [(ngModel)]="theMessage" />
        <button (click)="onSelect()">Button</button>
      </li>
    </ul>
  </nav>
  <!-- The routed views render in the <router-outlet>-->
</div>
<!-- comment-in the router-outlet for task-2 of this exercise -->
<router-outlet></router-outlet>
