div {
  margin-bottom: 10px;
}
.zoom-in {
  color: purple;
  font-size: xx-large;
}
.red {
  color: red;
}
.green {
  color: green;
}
.blue {
  color: blue;
}

button {
  margin-right: 10px;
}
