div {
  border: 1px solid black;
  padding: 3px;
  margin: 10px;
}

button {
  margin: 10px;
}
.my-class-1 {
  color: red;
  font-size: 1em;
}

.my-class-2 {
  color: blue;
  font-size: 0.75em;
}
