// Copy paste this content into your my-style.component.scss file to save time
div {
  margin-bottom: 10px;
}

button {
  margin: 5px;
}

span {
  font-weight: bolder;
}
input[type='checkbox'] {
  width: 18px;
  height: 18px;
  border: 1px solid #ccc;
  cursor: pointer;
}

input[type='checkbox']:checked {
  background-color: #000;
  color: #fff;
}
.myDefaultStyle {
  color: black;
  font-size: medium;
  border: 0px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.impact {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.red {
  color: red;
}
.green {
  color: green;
}
.blue {
  color: blue;
}

.smaller {
  font-size: smaller;
}

.medium {
  font-size: medium;
}

.larger {
  font-size: larger;
}

.solid {
  padding: 5px;
  border: 2px solid black;
}
.dashed {
  border: 2px dashed black;
  padding: 5px;
}
.no-border {
  border: 0px;
}
