.my-block {
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
}

.my-block__radio-group {
  padding: 4px;
  color: blueviolet;
}

.my-block__element-one {
  text-align: center;
  color: black;
}

.my-block__element-one--normal {
  font-weight: normal;
}

.my-block__element-one--bold {
  font-weight: bold;
}

// Here '.button' is cosidered a BEM block
.button {
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

// Notice we use the double underscore (__) to indicates an element in BEM CSS naming convention, while the hyphen (-) indicates a modifier. However, in the case of btn__normal, the normal part is not an element. It is a modifier of the btn block.
.button__normal {
  background-color: rgb(185, 220, 252);
}
.button--state-success {
  background-color: rgb(110, 241, 132);
}
.button--state-warn {
  background-color: red;
  color: white;
}
