.app-frame {
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
}

.app-frame__radio-group {
  padding: 4px;
  color: blueviolet;
}

.app-frame__paragraph {
  text-align: center;
  color: black;
}

.app-frame__paragraph--normal {
  font-weight: normal;
}

.app-frame__paragraph--bold {
  font-weight: bold;
}

.button {
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.button--state-normal {
  background-color: rgb(185, 220, 252);
}
.button--state-success {
  background-color: rgb(110, 241, 132);
}
.button--state-warn {
  background-color: red;
  color: white;
}
