button {
  color: 'primary';
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.radio-group {
  color: black;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.radio-button {
  color: blue !important;
  margin: 5px;
}
