button {
  color: 'primary';
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.style1 {
  mat-button: {
    color: accent;
  }
}

.style2 {
  mat-raised-button: {
    color: warn;
  }
}

.style3 {
  mat-stroked-button: {
    color: primary;
  }
}
