button {
  color: 'primary';
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
.mat-radio-button {
  z-index: 1;
}
.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 16px;
}
:host ::ng-deep .mat-radio-outer-circle {
  shape: circle;
}
