// This file exists to show how BEM is used in a CSS file.
// There is another file in this folder named comp1.component.scss it shows using BEM in Sass CSS file.

// The my-blocl BEM block wraps the whole example section of our page
// NOtice that I add double-underscore suffix to a block name.
// This makes the block name stand out as a specific name for BEM block.
.my-block__ {
  border: 2px solid rgb(77, 51, 224);
  margin: 5px;
  padding: 10px;
}

.my-block__header {
  padding: 4px;
  color: rgb(77, 51, 224);
}

.my-block__element-one {
  text-align: center;
  color: rgb(8, 124, 60);
  font-weight: normal;
}
.my-block__element-one--bold {
  font-weight: bold;
  color: black;
}

// Here '.button-basic' is defined as a BEM block
.button-basic__ {
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

// We can use modifiers on blocks and elments.
// Here we use modifiers on the button-basic block.
// There is no element.
.button-basic--state-normal {
  background-color: rgb(185, 220, 252);
}
.button-basic--state-success {
  background-color: rgb(110, 241, 132);
}
.button-basic--state-warn {
  background-color: red;
  color: white;
}
