<div class="boxed">
  <h2>Login using Reactive Forms</h2>
  <p>
    Using validation on input fields, disabling submit button until input is
    valid and displaying the submitted values.
  </p>

  <hr />

  <div class="boxed login-div">
    <h3>Enter your login credentials:</h3>
    <form class="form">
      <label for="username">Username:</label>
      <input type="text" id="username" placeholder="Enter your username" />
      <span *ngIf="isUsernameError()" class="error"
        >This feild is required</span
      >
      <br />
      <label for="email">Email.......:</label>
      <input type="email" id="email" placeholder="Enter your email address" />
      <span *ngIf="isEmailError()" class="error">Need email</span>
      <br />
      <button type="submit" [disabled]="!this.isAllFieldsValid()">
        Submit to Login
      </button>
    </form>
  </div>
  <hr />
  <h3>The submitted values are:</h3>
  <div>
    <p>
      Username :
      <span class="highlight">place holder</span>
    </p>
    <p>
      Email :
      <span class="highlight">place holder</span>
    </p>
  </div>
</div>
