<div>
  <h2>Angular Material Design Basics</h2>
  <p>
    Material Design API for Angular is :
    <a href="https://material.angular.io/">material.angular.io</a>.
  </p>

  <hr />
  <!-- ========================= -->

  <h3>Material Design Buttons</h3>
  <!-- <label for="radio-group"
    >Click the radio buttons below to see different Material Design button
    styles. :
  </label>
  <div class="radio-group">
    <input
      type="radio"
      id="option1"
      name="radio-group"
      value="style1"
      [(ngModel)]="selectedStyle"
    />
    <label for="option1">mat-button color="accent"</label>
    <br />

    <input
      type="radio"
      id="option2"
      name="radio-group"
      value="mat-raised-button"
      [(ngModel)]="selectedStyle"
    />
    <label for="option2">mat-raised-button color="warn"</label>
    <br />

    <input
      type="radio"
      id="option3"
      name="radio-group"
      value='mat-stroked-button color="primary"'
      [(ngModel)]="selectedStyle"
    />
    <label for="option3">mat-stroked-button color="primary"</label>
  </div>
   -->

  <mat-radio-group [(ngModel)]="selectedStyle">
    <mat-radio-button value="style1">Style 1</mat-radio-button>
    <mat-radio-button value="style2">Style 2</mat-radio-button>
    <mat-radio-button value="style3">Style 3</mat-radio-button>
  </mat-radio-group>

  <button class="style1">class = {{ selectedStyle }}</button>
</div>
